<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="colums">

    <div class="item">
      <label for="fname"> First Name<span>*</span></label>
      <input formControlName="firstName" id="fname" type="text" />
      <small *ngIf="studentForm.get('firstName')?.touched && (studentForm.get('firstName')?.invalid)" style="color: red;">First name is Invalid</small>
    </div>

    <div class="item">
      <label for="lname"> Last Name<span>*</span></label>
      <input formControlName="lastName" id="lname" type="text" name="lname" />
      <small *ngIf="studentForm.get('lastName')?.touched && (studentForm.get('lastName')?.invalid)" style="color: red;">First name is Invalid</small>
    </div>

    <div formArrayName="mail">
      <ng-container *ngFor="let item  of emailControls; index as i ">
        <div class="item">
          <label for="eaddress">Email Address<span>*</span></label>
          <input [formControlName]="i" id="" type="text" name="eaddress" />
          
        </div>
      </ng-container>
      <button (click)="addMail()" [disabled]="studentForm.get('mail')?.invalid">add email</button>
    </div>


    <div formArrayName="phone">
      <ng-container *ngFor="let item  of phoneControls; index as i ">

        <div class="item">
          <label for="phone">Phone<span>*</span></label>
          <input [formControlName]="i" type="phone" />
        </div>
      </ng-container>
      <button (click)="addPhoneNumber()" [disabled]="studentForm.get('phone')?.invalid">add phone </button>
    </div>
    <!-- form array for mobile ends here -->

    <div formArrayName="school" *ngFor="let item  of schoolControls; index as i" >

    <div [formGroupName]="i">

        <div class="item">
          <label for="address1">School Name<span>*</span></label>
          <input formControlName="schoolName" id="address1" type="text" name="address1" />
  
        </div>
  
  
  
  
        <div class="item">
          <label for="address2">Address <span>*</span></label>
          <input formControlName="address" type="text" placeholder="" name="address2" />
        </div>
  
        <div class="item">
          <label>Nationality <span>*</span></label>
          <select formControlName="nationality">
            <option>Select</option>
            <option *ngFor="let country of  selectCountry">{{country}}</option>
          </select>
  
        </div>
  
        <div class="item">
          <label for="state">State<span>*</span></label>
          <!-- <input type="text" formControlName="state"> -->
          <select formControlName="state">
            <option>Select</option>
            <option *ngFor="let state of  states">{{state}}</option>
          </select>
        </div>
  
  
        <div class="item">
          <label>From <span>*</span></label>
          <select formControlName="from">
            <option>Select</option>
            <option *ngFor="let year of years">{{year}}</option>
          </select>
  
        </div>
  
        <div class="item">
          <label>TO <span>*</span></label>
          <select formControlName="to">
            <option>Select</option>
            <option *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
  
  
  
      </div>
  <!-- closing school form group -->


    </div>
    <!-- closing tag of school form array -->


    <button (click)=" addSchoolBtn()" [disabled]="studentForm.get('school')?.invalid">add School</button>


  
    <!-- school section ends here -->

  </div>

  <label>Click to submit the student form</label>
  <div class="btn-block">

    <input class="submit-btn"  type="submit" [disabled]=" 
    studentForm.invalid ||studentForm.get('phone')?.invalid || studentForm.get('mail')?.invalid || studentForm.get('school')?.invalid ">
  </div>

</form>
